@import "client/src/styles/vars";

.review-create {
  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    input {
      padding: 0.5rem;
    }
  }

  button {
    margin-top: 1rem;
    width: fit-content;
  }

  .errors {
    margin-top: $gutter;
    .error-message {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid $colRed;
      background-color: rgba($colRed, 0.15);
      color: $colRed;
    }
  }
}
